.miva-footer
    width: 960px
    margin: 50px auto
    font: 11px Arial, sans-serif
    color: #666

    &:before
        content: ''
        width: 900px
        margin: auto
        height: 1px
        border-bottom: 1px dotted #ccc
        display: block

    p
        margin: 5px 0
