.miva-form-wrapper
    position: relative
    z-index: 1
    margin: 30px 0

.miva-form
    padding: 20px 0 0

.miva-input
    width: 700px
    height: 200px
    padding: 10px
    border: 1px solid #ccc
    box-shadow: 1px 1px 1px #ccc inset
    font: 400 16px/18px 'Ledger', cursive
    color: #666

    &:hover
        color: #333
        border: 1px solid #aaa
        box-shadow: 1px 1px 1px #aaa inset

.miva-form-submit-wrapper
    position: absolute
    width: 220px
    right: 0
    bottom: 0
    margin: 2px 0

.miva-form-submit
    color: #333
    font: 400 18px/18px Helvetica, Arial
    cursor: pointer
    position: relative
