.miva-samples
    position: absolute
    left: 740px
    top: 20px
    z-index: 2

.miva-samples-list
    padding: 0
    margin: 0
    list-style: none

.miva-sample
    font-size: 14px
    line-height: 16px
    margin: 0 0 5px

.miva-sample-random
    margin-top: 20px

.miva-sample-inner
    border-bottom: 1px dotted #333
    cursor: pointer
