<form action="" class="miva-form">
    <textarea class="miva-input"
        id="miva-input"
        name="miva-input"
        placeholder="Введите текст"></textarea>
    <p class="miva-form-submit-wrapper">
        <button type="submit" class="miva-form-submit">Пiдрахуї!</button>
    </p>
</form>
