<div class="miva-samples">
    <ul class="miva-samples-list">
        <li class="miva-sample">
            <span class="miva-sample-inner" data-name="bladerunner">
                Я видел нечто…
            </span>
        </li>
        <li class="miva-sample">
            <span class="miva-sample-inner" data-name="rashkovany">
                Даже не старайся…
            </span>
        </li>
        <li class="miva-sample">
            <span class="miva-sample-inner" data-name="allah">
                А я люблю…
            </span>
        </li>
        <li class="miva-sample miva-sample-random">
            <div class="miva-sample-inner" data-name="random">
                Случаный пост с txtdump.com
            </div>
        </li>
    </ul>
</div>
